/*
 * Project: Responsr.
 * Description: A simple tool for testing responsive layouts.
 * Last Update: 2016/05/28
 *
 * Author: Isac Fadoni
 * GitHub: https://github.com/isacfadoni/responsr.app
 * Copyright: You can use or edit this code under the MIT license.
 *
 * Preprocessor: Sass
 * Compiler: node-sass
 *
 * Sass URL: http://sass-lang.com
 * Compiler Package URL: https://www.npmjs.com/package/node-sass



// Fonts Imports
@import fonts/roboto

// Variables Imports
@import variables/colorscheme

// Vendor Imports
@import vendor/reset

// Components Imports
@import components/topbar
@import components/container
@import components/buttons
@import components/urlinput
@import components/display

// Mixins Imports
@import mixins/transition
@import mixins/centralize



// Basic
body
    background: #fff

.wrap
    position: absolute
    display: block
    min-width: 340px
    padding: 5px
    box-sizing: border-box



.input
    position: relative
    display: block
    height: 40px
    padding: 5px
    border: none
    box-sizing: border-box
    background: #fff
    font-family: $font-face
    font-weight: 500

    &#url
        width: 300px
        float: left
        border-right: 1px solid #eee

    &#go
        width: 40px
        float: right
        text-align: center
        cursor: pointer
        color: #fff
        background: $background
        +transition(all .2s ease-in-out)

        i
            position: absolute
            +center("both")

        &:hover
            background: lighten($background, 20%)
