/*
 * Project: Responsr.
 * Description: A simple tool for responsive layouts.
 * Last Update: 2015/01/19
 *
 * Author: Isac Fadoni
 * GitHub: https://github.com/isacfadoni/responsr
 * Copyright: You can use or edit this code under the MIT license.
 *
 * Preprocessor: Sass
 * Compiler: Koala
 * Sass URL: http://sass-lang.com
 * Koala URL: http://koala-app.com

/* Imports */
@import reset
@import fonts
@import transition
@import centralize
@import colorscheme
    
    
/* Basic */
body
    background: #fff
  
.wrap
    position: absolute
    display: block
    min-width: 1024px
    padding: 5px
    box-sizing: border-box
    +center("x")
    
    
/* Responsr - Default iPhone 5 / 320 x 506 */
#display
    position: relative
    display: block
    width: 333px /* Increment the width for Firefox's scrollbar */
    height: 506px
    max-width: 1920px
    max-height: 1080px
    margin-bottom: 200px
    background: #f5f5f5
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2)
    +transition(all .5s ease-in-out)
    +center("x")



#main-header
    position: relative
    display: block
    width: 100%
    height: 40px
    top: 0
    margin-bottom: 30px
    background: rgba(255,255,255,0.7)
    border-bottom: 1px solid #eee

    .wrap
        min-width: 350px
        max-width: 350px
        +center("both")



.input
    position: relative
    display: block
    height: 30px
    padding: 5px
    border: 1px solid #eee
    box-sizing: border-box
    background: #fff

    &#url
        width: 300px
        float: left
        border-right: 0px solid transparent
        border-radius: 3px 0px 0px 3px

    &#go
        width: 40px
        float: right
        text-align: center
        cursor: pointer
        color: #fff
        background: $background
        border-color: $background
        border-left: 0px solid transparent
        border-radius: 0px 3px 3px 0px
        +transition(all .2s ease-in-out)

        &:hover
            background: lighten($background, 20%)
            border-color: lighten($background, 20%)

        i
            vertical-align: middle

#devices-container
    position: fixed
    display: block
    width: 100%
    height: auto
    padding: 5px
    box-sizing: border-box
    bottom: 0
    background: rgba(255,255,255,0.7)
    border-top: 1px solid #eee
    text-align: center
    font-family: $font-face

    >
        h2
            margin-bottom: 20px
            font-size: 1.3em
            font-weight: 300
            color: #aaa

        .wrap
            position: relative
            min-width: auto
            max-width: 350px

            > 
                div
                    position: relative
                    width: auto
                    overflow: auto
                    +center("x")

                    span
                        position: relative
                        width: 30px
                        height: 30px
                        float: left
                        color: $background
                        cursor: pointer
                        +center("x")

                        i
                            position: relative
                            +center("y")


                    .input
                        margin: 0px 3px
                        float: left

ul
    position: relative
    display: inline-block
    overflow: auto

    li
        position: relative
        display: block
        width: 70px
        height: 70px
        float: left
        margin: 5px
        background: transparent
        cursor: pointer
        box-shadow: 0px 0px 0px 0px $background, 0px 0px 0px 0px transparent
        +transition(all .2s ease-in-out)

        &:hover
            background: #fff
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3), 0px 0px 0px 5px $background 
